/*McKinsey BLue*/
/*Madison Grey*/
/*Global Blue*/
/*Cyan*/
/*Teal*/
/*Turquoise*/
/*Blue Gray*/
/*Purple*/
/*Crusta Orange*/
/*Chestnut Rose Red*/
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:300);
html {
  overflow: hidden; }

header {
  color: #006983;
  font-size: 2.8em;
  letter-spacing: -3px;
  padding-right: 30px;
  position: fixed;
  background-color: white;
  top: 0px;
  height: 60px;
  border-bottom: 2px solid black; }
  header .head {
    font-weight: bold;
    font-size: 1.2em; }
  header .head-first {
    font-size: 1.1em;
    letter-spacing: 0px;
    margin-left: 1%; }
  header .head-one {
    color: #D24D57; }
  header .head-two {
    color: #EA7A30; }
  header .head-three {
    color: #0065BD; }
  header .head-four {
    color: #67317E; }

.blue {
  color: blue; }

.mainContainer {
  height: 80%;
  width: 90%;
  overflow: auto;
  height: 600px; }
  .mainContainer div {
    padding-top: 1%; }

.table {
  display: table;
  width: 100%; }

.table-row {
  display: table-row;
  width: 100%; }

.table-cell {
  display: table-cell; }

@media screen and (max-width: 1180px) {
  .table-row {
    display: block; }

  .table-cell {
    display: inline-block; } }
table {
  text-align: left; }
  table .longLink {
    min-width: 32px;
    max-width: 32px;
    word-wrap: break-word;
    overflow: hidden; }
  table .docPath {
    min-width: 60px;
    max-width: 60px;
    word-wrap: break-word;
    overflow: hidden; }
  table .longText {
    min-width: 30px;
    min-height: 50px;
    word-wrap: break-word;
    overflow: hidden; }

.form-control {
  width: 155px; }

.eventHead {
  width: 340px !important; }

.dropHead {
  width: 545px !important; }

.accordionContainer {
  cursor: pointer;
  max-width: 868px; }
  .accordionContainer .heading {
    background-color: #1A4489;
    border-bottom: 1px solid #2c3e50; }
    .accordionContainer .heading:hover {
      background-color: #487CBF; }
    .accordionContainer .heading a {
      text-align: center;
      font-weight: 700;
      padding: 1em;
      display: block;
      text-decoration: none;
      color: #fff;
      -webkit-transition: background-color 0.5s ease-in-out; }
  .accordionContainer .mainContent {
    height: auto;
    overflow: auto;
    max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    color: black;
    font-size: 1em;
    line-height: 1.5em; }
    .accordionContainer .mainContent p {
      padding: 1em 2em; }
    .accordionContainer .mainContent .btn {
      margin: 0px 5px; }

.filepicker {
  font-family: sans-serif; }

div.filepicker {
  text-align: center;
  padding: 5px;
  background-color: #E1E1E1;
  border-radius: 5px;
  min-height: 60px;
  border: 2px dashed #C7C7C7; }

/* Icon */
.filepicker-file-icon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 2.5em 0;
  padding-left: 45px;
  color: black; }
  .filepicker-file-icon:before {
    position: absolute;
    top: -7px;
    left: 0;
    width: 29px;
    height: 34px;
    content: '';
    border: solid 2px #7F7F7F;
    border-radius: 2px; }
  .filepicker-file-icon:after {
    font-size: 11px;
    line-height: 1.3;
    position: absolute;
    top: 9px;
    left: -4px;
    padding: 0 2px;
    content: 'file';
    content: attr(data-filetype);
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000; }
  .filepicker-file-icon .fileCorner {
    position: absolute;
    top: -7px;
    left: 22px;
    width: 0;
    height: 0;
    border-width: 11px 0 0 11px;
    border-style: solid;
    border-color: white transparent transparent #920035; }

.dz-clickable {
  cursor: pointer; }

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px; }

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px; }

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px; }

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px; }

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none; }

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px; }

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px; }

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none; }

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block; }

.RichEditor-activeButton {
  color: #5890ff; }

input[type=text] {
  text-align: center;
  font: inherit;
  border: 4px solid black;
  padding: 13px 12px;
  font-size: 18px;
  box-shadow: 0 1px 1px #DDD;
  width: 384px;
  outline: none;
  display: block;
  color: #7B8585;
  margin: 0 auto 20px; }

.fa-2x {
  font-size: 2em; }

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; }

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible; }

.main-menu {
  background: #2b343f;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000; }
  .main-menu ul {
    margin: 7px 0; }
    .main-menu ul li {
      position: relative;
      display: block;
      width: 250px; }
      .main-menu ul li a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #999;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear; }
  .main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px; }
  .main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif; }

.no-touch .scrollable.hover {
  overflow-y: hidden; }

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible; }

a:hover, a:focus {
  text-decoration: none; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%; }

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0; }

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #EA7A30; }

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff"); }
/*timeline css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* --------------------------------

App

-------------------------------- */
html, body, #app-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html {
  font-size: 62.5%; }
  html body {
    font-size: 1.6rem;
    font-family: "Fira Sans", sans-serif;
    color: #383838;
    background-color: #f8f8f8; }
    html body #app-container #App {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

a {
  color: #7b9d6f;
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-horizontal-timeline.loaded {
    /* show the timeline after events position has been set (using JavaScript) */
    opacity: 1; }
  .cd-horizontal-timeline .timeline {
    position: relative;
    height: 100px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto; }
  .cd-horizontal-timeline .events-wrapper {
    position: relative;
    height: 100%;
    margin: 0 40px;
    overflow: hidden; }
    .cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
      /* these are used to create a shadow effect at the sides of the timeline */
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      height: 100%;
      width: 20px; }
    .cd-horizontal-timeline .events-wrapper::before {
      left: 0;
      background-image: -webkit-linear-gradient(left, #f8f8f8, rgba(248, 248, 248, 0));
      background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0)); }
    .cd-horizontal-timeline .events-wrapper::after {
      right: 0;
      background-image: -webkit-linear-gradient(right, #f8f8f8, rgba(248, 248, 248, 0));
      background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0)); }
  .cd-horizontal-timeline .filling-line {
    /* this is used to create the green line filling the timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #7b9d6f;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s; }
  .cd-horizontal-timeline .events {
    /* this is the grey line/timeline */
    position: absolute;
    z-index: 1;
    left: 0;
    top: 49px;
    height: 2px;
    /* width will be set using JavaScript */
    background: #dfdfdf;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s; }
    .cd-horizontal-timeline .events a {
      position: absolute;
      bottom: 0;
      z-index: 2;
      text-align: center;
      font-size: 1.3rem;
      padding-bottom: 15px;
      color: #383838;
      /* fix bug on Safari - text flickering while timeline translates */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
      .cd-horizontal-timeline .events a::after {
        /* this is used to create the event spot */
        content: '';
        position: absolute;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: -5px;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 2px solid #dfdfdf;
        background-color: #f8f8f8;
        -webkit-transition: background-color 0.3s, border-color 0.3s;
        -moz-transition: background-color 0.3s, border-color 0.3s;
        transition: background-color 0.3s, border-color 0.3s; }
      .cd-horizontal-timeline .events a.selected {
        pointer-events: none; }
      .cd-horizontal-timeline .events a.selected::after {
        background-color: #7b9d6f;
        border-color: #7b9d6f; }
      .cd-horizontal-timeline .events a.older-event::after {
        border-color: #7b9d6f; }
  .cd-horizontal-timeline .events-content {
    position: relative;
    width: 100%;
    margin: 2em 0;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    transition: height 0.4s; }
    .cd-horizontal-timeline .events-content li {
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      top: 0;
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
      padding: 0 5%;
      opacity: 0;
      -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
      animation-duration: 0.4s;
      -webkit-animation-timing-function: ease-in-out;
      -moz-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out; }
      .cd-horizontal-timeline .events-content li.selected {
        /* visible event content */
        position: relative;
        z-index: 2;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
      .cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
        -webkit-animation-name: cd-enter-right;
        -moz-animation-name: cd-enter-right;
        animation-name: cd-enter-right; }
      .cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
        -webkit-animation-name: cd-enter-left;
        -moz-animation-name: cd-enter-left;
        animation-name: cd-enter-left; }
      .cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
        -webkit-animation-direction: reverse;
        -moz-animation-direction: reverse;
        animation-direction: reverse; }
      .cd-horizontal-timeline .events-content li > * {
        max-width: 800px;
        margin: 0 auto; }
    .cd-horizontal-timeline .events-content h2 {
      font-weight: bold;
      font-size: 2.6rem;
      font-family: "Playfair Display", serif;
      font-weight: 700;
      line-height: 1.2; }
    .cd-horizontal-timeline .events-content em {
      display: block;
      font-style: italic;
      margin: 10px auto; }
    .cd-horizontal-timeline .events-content em::before {
      content: '- '; }
    .cd-horizontal-timeline .events-content p {
      font-size: 1.4rem;
      color: #959595; }
    .cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
      line-height: 1.6; }

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7b9d6f;
  border-color: #7b9d6f; }

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s; }
  .cd-timeline-navigation a::after {
    /* arrow icon */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/cd-arrow.svg) no-repeat 0 0; }
  .cd-timeline-navigation a.prev {
    left: 0;
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg); }
  .cd-timeline-navigation a.next {
    right: 0; }
  .cd-timeline-navigation a.inactive {
    cursor: not-allowed; }
  .cd-timeline-navigation a.inactive::after {
    background-position: 0 -16px; }

.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f; }

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf; }

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto; }
    .cd-horizontal-timeline::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem; }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem; }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.8rem; } }
@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%); } }
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); } }

/*# sourceMappingURL=main.css.map */
