$base-color-one:#002960;	/*McKinsey BLue*/
$base-color-two:#2c3e50; 	/*Madison Grey*/
$base-color-three:#0065BD;	/*Global Blue*/
$base-color-four:#00ADEF;	/*Cyan*/
$base-color-five:#006983;	/*Teal*/
$base-color-six:#009AA6;	/*Turquoise*/
$base-color-seven:#7D9AAA;	/*Blue Gray*/
$base-color-eight:#67317E;	/*Purple*/
$base-color-nine:#EA7A30;	/*Crusta Orange*/
$base-color-ten:#D24D57; 	/*Chestnut Rose Red*/

header {
	color:$base-color-five;
    font-size: 2.8em;
  	letter-spacing: -3px;
  	margin-left:1%;
  	padding-right:30px;
		position: fixed;
		background-color: white;
		top:0px;
		height: 60px;
		width:100%;
		border-bottom:2px solid black;
  	.head {
  		font-weight: bold;
  		font-size:1.2em;
  	}

  	.head-first{
  	  font-size: 1.1em;
  	  letter-spacing: 0px;
  	}

  	.head-one{
  	   color:$base-color-ten;
  	}

  	.head-two{
  	   color:$base-color-nine;
  	}

  	.head-three{
  	   color:$base-color-three;
  	}

  	.head-four{
  	   color:$base-color-eight;
  	}

}
.leftNav{
	top:58px;
  float: left;
  background: #2b343f;
  text-align: left;
  -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
  box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  z-index: 9999;
  position: fixed;
  height: 100%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;


  ul {
   margin: 0;
   padding: 0;
   list-style: none;

   li a {
    display: block;
    text-decoration: none !important;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    color: #fff;

    &:hover {
     background: #4EFFFF;
     color: #000;
    }

		.glyphicon{
			padding-right:10px;
		}
   }

  }

}
.blue{
  color:blue;
}
.mainContainer{

   margin: 4% 0 0 13%;
 	 height: 100%;
   width: 80%;

	 div{
		 padding-top: 1%;
	 }
}

table{
	text-align: left;

	td{
		padding: 4px;
	}

}
.form-control{
	width: 155px;
}

.eventHead{
	width: 340px !important;
}
.accordionContainer{
	cursor: pointer;
	max-width: 868px;
	.heading{
		background-color: #1A4489;
  	border-bottom: 1px solid #2c3e50;

		&:hover{
			background-color: #487CBF;
		}

		a{
			text-align: center;
		  font-weight: 700;
		  padding: 1em;
		  display: block;
		  text-decoration: none;
		  color: #fff;
		  -webkit-transition: background-color 0.5s ease-in-out;
		}

	}
	.mainContent{
		height: auto;
 		overflow: hidden;
		max-height: 50em;
    -moz-transition: max-height 1s;
    -o-transition: max-height 1s;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
		color:black;
		font-size: 1em;
		line-height: 1.5em;

		 p{
			padding: 1em 2em;
		 }
		 .btn{
			 margin:0px 5px;
		 }
	}
}


.filepicker {
    font-family: sans-serif;
}

div.filepicker {
    text-align: center;
    padding: 5px;
    background-color: #E1E1E1;
    border-radius: 5px;
    min-height: 60px;
    border: 2px dashed #C7C7C7;
}

/* Icon */
.filepicker-file-icon{
    position: relative;
    display: inline-block;
    margin: 1.5em 0 2.5em 0;
    padding-left: 45px;
    color: black;

		&:before{
			position: absolute;
	    top: -7px;
	    left: 0;
	    width: 29px;
	    height: 34px;
	    content: '';
	    border: solid 2px #7F7F7F;
	    border-radius: 2px;
		}

		&:after{
			font-size: 11px;
	    line-height: 1.3;
	    position: absolute;
	    top: 9px;
	    left: -4px;
	    padding: 0 2px;
	    content: 'file';
	    content: attr(data-filetype);
	    text-align: right;
	    letter-spacing: 1px;
	    text-transform: uppercase;
	    color: #fff;
	    background-color: #000;
		}

		.fileCorner{
			 position: absolute;
			 top: -7px;
			 left: 22px;
			 width: 0;
			 height: 0;
			 border-width: 11px 0 0 11px;
			 border-style: solid;
			 border-color: white transparent transparent #920035;
	 }
}
.dz-clickable{
	cursor: pointer;
}
